html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: white;
}

* {
  box-sizing: border-box;
}

button,
input {
  font-family: inherit;
}

input {
  outline: none;
  border-radius: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media print {
  html,
  body {
    width: 297mm;
    height: 210mm;
    overflow: hidden;
    background: white;
  }
}